:root{
    --white: #FFFCF2;
    --orange: #EB5E28;
    --darkGrey: #403D39;
    --lightBlue: #21ABCD;
}

.banner{
    display: block;
    align-items: center;
    margin:0px;
    height: 45em;
    width: 100%;
    background: url("../images/beautifulScenery.jpg") no-repeat center;
    background-size: cover;
    color: var(--white);
    font-family: 'Roboto', sans-serif;
}

.banner *{
    margin: 0;
    text-align: center;
    display: block;
    width: 100%;
    position: absolute;
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
}



.banner h1{
    top: 45%;
    font-size: 10vw;
}

.banner p{
    top: 55%;
    font-size: 2vw;
}

.banner div{
    /* src: url("../images/beautifulScenery.jpg"); */
    background: url("../images/profileIcon.jpg") no-repeat center;
    background-size: contain;
    height: 173px;
    background-color: red;
    width: 133px;
    top: 10%;
    border-radius: 15px;
    -ms-transform: translateX(-50%);
    transform: translateX(-50%);
    left: 50%;

}




/* .banner .cover{
    margin:auto;
    width: 100%;
    height: 100%;
    text-align: center;
    /*background:linear-gradient(to bottom right,#ffff0080,rgb(245,255,128,.2));
}

.banner .cover *{
    position: relative;
    top: 45%;
    bottom: 45%;
    transform: translateY(-50%);
    opacity: 1;
    color:var(--white);
}

.banner *{
    text-align: center;
}

.surface{
    display: inline-block;
    margin-left: auto;
    margin-right: auto;
    padding: 3em;
    padding-top: 4em;
    
    border-radius: 0px;

} 

.surface h1{
    font-size: 80px;
}*/

@media screen and (max-width:400px){
    .banner{height: 25em;}
    .cover{margin: 0;}
    .surface{
        background-color: transparent;
        margin: 0;
    }
    /* .surface p,h1{
        border-radius: .2em;
        width: 100%;
        background-color: rgb(248,248,255,.7);
    } */
    


}