@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

:root{
    --white: #FFFCF2;
    --orange: #EB5E28;
    --darkGrey: #403D39;
    --lightBlue: #21ABCD;
}

body{
    margin: 0px;
    font-family: 'Roboto', sans-serif;

    /*overflow-x: hidden;*/
}


#nav{
    background-color: var(--white);
    position: sticky;
    top: 0;
    display: flex;
    flex-direction: row;
    justify-content: center;
    text-align: center;
    margin: 0;
    /*font-size: 2vw;*/
    font-size: 1.3em;
}
#nav li{
    display: inline;
    margin:0 1em 0 1em;
    color: white;
    padding-top: .5em;
    padding-bottom: .5em;
}




@media screen and (min-width:700px){
    #mainGrid{
        display: grid;
        grid-template-columns: auto auto;    
    }
}


/*footer stuff*/
footer ul{
    background-color: var(--white);
    margin:0;
    text-align: center;
}

footer a,li{
    color: whitesmoke;
    text-decoration: none;

}

footer ul li{
    display: inline-block;
    margin: 10px 50px;
}


footer ul li h3{
    font-weight: normal;
}
footer h3{
    display: inline;
}



/*direct child of the ul*/
footer ul > a{
    display: inline;
    background-color: #ff9;
    color: black;
    padding:2px 20px 2px 20px;
    border-radius: 5px;
    border:none;
}
@media screen and (max-width:400px) {
    footer ul{
        padding-bottom: 2em;
    }    
}

footer ul > a:hover{
    animation-name: btnHover;
    animation-duration: 1s;
    animation-fill-mode: forwards;
}

@keyframes btnHover{
    from{
        background-color: #ff9;
        color:black;
    }
    
    to{
        background-color: gold;
        color:black;
    }
}


/* taskbar */
#taskbar{
    margin:0;
    height: 58px;
    display: block;
    background-color: var(--darkGrey);
}

#taskbar li{
    display: inline-block;
    position: relative;
    font-size: 17pt;
    margin: 0 20px;
    float: right;
}

#taskbar :last-child, #taskbar :nth-child(2){
    top: 14px;
}

#taskbar :last-child{
    text-decoration: underline;
    font-weight: bold;
}

#taskbar :first-child{
    background-color: var(--orange);
    top: 3.5px;
    /* the different top & bottom padding center it because there's a content padding above the text idk how to adjust */
    padding: 9px 13px 12px 13px;
    margin-right: 20px;
    border-radius: 14px;
}

/* Scrollbar */


